@model demo.Models.ChiTietGioHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>THÔNG TIN</h1>

<div>
    <h4>ChiTietGioHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGioHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGioHangNavigation.MaGioHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPhamNavigation.MaSanPham)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaChiTietGioHang">Edit</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
