@model IEnumerable<demo.Models.ChiTietGioHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CHI TIẾT GIỎ HÀNG</h1>

<p>
    <button class="them">
        <a asp-action="Create">Thêm Mới</a>
    </button>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGioHangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGioHangNavigation.MaGioHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPhamNavigation.MaSanPham)
            </td>
            <td>
                <button class="sua"> <a asp-action="Edit" asp-route-id="@item.MaChiTietGioHang">Sửa</a> </button>
                
                    <button class="xoa"> <a asp-action="Delete" asp-route-id="@item.MaChiTietGioHang">Xóa</a></button>
                
                <button class="chitiet"><a asp-action="Details" asp-route-id="@item.MaChiTietGioHang">Thông Tin</a>  </button>
                
                
            </td>
        </tr>
}
    </tbody>
</table>
