
@{
    Layout = "_Layout";
    float tong=0;
}
<style>
   /* .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }*/
   .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  #cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #fff;
  }
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
</style>

  <div class="text-center">
        @Html.Raw(TempData["checkout__alert--success"])
    </div>

@if (ViewBag.cart != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Giỏ Hàng</h5>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">Sản Phẩm</span>
                <span class="cart-price cart-header cart-column">Giá</span>
                <span class="cart-quantity cart-header cart-column">Số Lượng</span>
            </div>


            <div class="cart-items">

                @foreach (var item in ViewBag.cart)
                {
                    <div class="" style="width:43%;float:left">@item.sp.TenSanPham</div>
                    <div class="" style="width:36%;float:left">@item.sp.GiaSanPham</div>
                    <div class="" style="width:17%;float:left">  @item.SoLuong</div>
                    // <span>@(int.Parse( item.sp.GiaSanPham )* item.SoLuong)</span> 
                    <div style="width:4%;float:left"><a asp-controller="ShowGioHang" asp-action="remove" asp-route-id="@item.sp.MaSanPham">X</a></div>

                    // <span align="right" colspan="6">Sum</span>
                }

                        </div>
                        


                        <div class="cart-items">

                        </div>
                        <div class="cart-total">
                            <strong class="cart-total-title">Tổng Cộng:</strong>
                            <span class="cart-total-price">@ViewBag.total VNĐ</span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer">Đóng</button>
                        <a asp-controller="GioHangs" asp-action="ThanhToan"  class="btn btn-primary order">Thanh Toán</a>
                    </div>
                </div>
}

@if(ViewBag.cart == null)
{
    <div>Không có sản phẩm nào trong giỏ</div>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Tiếp tục mua sắm</a>
}

    
                
           

             @*@foreach (var item in ViewBag.cart)
            {
                 <tr>
                            <td><a asp-controller="ShowGioHang" asp-action="remove" asp-route-id="@item.sp.MaSanPham">Remove</a></td>
                            <td>@item.sp.MaSanPham </td>
                            <td>@item.sp.TenSanPham</td>
                            <td>@item.sp.GiaSanPham</td>
                            <td>@item.SoLuong</td>
                            <td>@(int.Parse( item.sp.GiaSanPham )* item.SoLuong)</td>
                  </tr>
                    <tr>
                        <td align="right" colspan="6">Sum</td>
                        <td>
                            
                        </td>
                    </tr>
            }*@